<h2>Everhour time report</h2>
<div style="margin-bottom: 5px">Project: <strong>COA</strong></div>
<div style="margin-bottom: 5px">Tasks Time: <strong><%= timeTotal %></strong></div>
<div style="margin-bottom: 5px">Time Limit: <strong><%= fullLimit %></strong></div>
<div style="margin-bottom: 5px">Percent: <strong><%= percent %></strong></div>
<hr>
<div>Report Server DateTime: <%= time %></div>
