<div style="display: flex;gap:40px">
    <div>schemaTime:
        <pre><%= schemaTime %></pre>
    </div>
    <div>schemaTasks:
        <pre><%= schemaTasks %></pre>
    </div>
    <% tasks.forEach(function(task){ %>
        <div>Task:
            <% task.forEach(function(taskData){ %>
                <div>
                    <%= taskData %>
                </div>
                <% })%>
        </div>
        <% }) %>
</div>
</div>