body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    --indigo-9: #465e75;
    --indigo-10: #465e75dd;
    --color-page-background: #faffef;
    --accent-color: #faaf40;
}

a {
    text-decoration: none;
}

svg {
    display: block;
}

img {
    display: block;
}

hr {
    border-color: var(--accent-color);
    border-style: solid;
    width: 100%;
    margin: 0;
}

.theme-custom .radix-themes {
    --cursor-button: pointer;
    --cursor-checkbox: default;
    --cursor-disabled: not-allowed;
    --cursor-link: pointer;
    --cursor-menu-item: default;
    --cursor-radio: default;
    --cursor-slider-thumb: default;
    --cursor-slider-thumb-active: default;
    --cursor-switch: default;
}

.current {
    opacity: .8;
}

.navButton {
    min-width: 82px;
}

.borderBox {
    border: 1px solid var(--slate-a7);
    border-radius: var(--radius-2);
    min-width: 250px;
    background-color: #fdfdfd;
}

.fieldError {
    border-color: var(--ruby-a11);
}

@media print {
    .navigation {
        display: none !important;
    }

    .MuiTreeItem-iconContainer {
        display: none !important;
    }
}

/* Editor*/

#editorjs-container .cdx-checklist__item--checked .cdx-checklist__item-checkbox-check {
    background-color: var(--indigo-9);
    border-color: var(--indigo-9);
}
#editorjs-container .cdx-checklist__item-checkbox-check::before {
    background-color: var(--indigo-9);
}
#editorjs-container .ce-popover-item--confirmation,
#editorjs-container .ce-popover-item--confirmation:not(.ce-popover-item--no-hover):hover {
    background-color: var(--indigo-9);
}
