<style>
    nav {
        padding: 5px;
    }
    nav a {
        font-size: 18px;
        padding: 0 5px;
        text-decoration: none;
    }
    nav a:hover {
        opacity: .8;
    }
</style>
<nav>
    <a href="/">Home</a>
    <a href="/refresh">Refresh</a>
    <a href="/params">Parameters</a>
    <a href="/logout">Logout</a>
</nav>